@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Devevil.Blog.MVC.Client.Models.UserViewModel

@section content{
    <div id="main">
    @using (Html.BeginForm("AccountManagment", "Manage"))
    {
        <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2>Modifica dei dati personali</h2>
                    </div>
                </header>
                <p>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @if (Model != null && !String.IsNullOrEmpty(Model.Message))
                    {
                        @Model.Message
                    }
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Nome, new { placeholder = "Nome" })
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Cognome, new { placeholder = "Cognome" })
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Nascita, new { placeholder = "Data di nascita" })
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                </p>
                <p>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                </p>
                <footer>
                    <ul class="actions">
                        <li><button name="ModifyData" value="Modifica dati" class="button big icon fa-pencil">Modifica dati</button></li>
                    </ul>
                </footer>
            </article>
    }
    </div>
}