@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Devevil.Blog.MVC.Client.Models.CategoryViewModel

@section content{
<div id="main">
    @using (Html.BeginForm("CategoryDetail", "Manage"))
    {
        <!-- Post -->
        <article class="post">
	        <header>
		        <div class="title">
			        <h2>Gestione dettagli categoria</h2>
		        </div>
	        </header>
	        <p>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @if (Model!=null && !String.IsNullOrEmpty(Model.Message))
                {
                    @Model.Message
                }
	        </p>
            <p>
                 @Html.TextBoxFor(m => m.Nome, new { placeholder = "Nome categoria" })
            </p>
            <p>
                 @Html.TextBoxFor(m => m.Descrizione, new { placeholder = "Descrizione categoria" })
            </p>
            <footer>
                <ul class="actions">
                    <li><button name="Modify" value="Modifica" class="button big">Modifica</button></li>
		        </ul>
            </footer>
        </article>
    }
</div>
}