@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Devevil.Blog.MVC.Client.Models.CategoryViewModel

@section content{
<div id="main">
    @using (Html.BeginForm("CategoryNew", "Manage", FormMethod.Post, new 
                                       { enctype = "multipart/form-data" }))
    {
        <!-- Post -->
        <article class="post">
	        <header>
		        <div class="title">
			        <h2>Crea una nuova categoria</h2>
		        </div>
	        </header>
	        <p>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @if (Model!=null && !String.IsNullOrEmpty(Model.Message))
                {
                    @Model.Message
                }
	        </p>
            <p>
                 @Html.TextBoxFor(m => m.Nome, new { placeholder = "Nome categoria" })
            </p>
            <p>
                 @Html.TextBoxFor(m => m.Descrizione, new { placeholder = "Descrizione categoria" })
            </p>
            <p>
                @Html.TextBoxFor(m => m.File, new { type = "file" })
            </p>
            @if(Model!=null && !String.IsNullOrEmpty(Model.FileName))
            {
                <p>
                    <img src="/Uploads/@Model.FileName" alt="@Model.FileName" />
                </p>
            }
            <footer>
                <ul class="actions">
                    <li><button name="Create" value="Crea" class="button big">Crea</button></li>
		        </ul>
            </footer>
        </article>
    }
</div>
}