@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Devevil.Blog.MVC.Client.Models.PageViewModel


@section content{
<div id="main">
    <script type="text/javascript">
        $(function () {
            //$('#Body').ckeditor();
            CKEDITOR.replace('Body', {
                filebrowserImageBrowseUrl: '/Manage/UploadPartial',
                filebrowserImageUploadUrl: '/Manage/UploadNow'
            });
        });

        function updateValue(id, value) {
            // this gets called from the popup window and updates the field with a new value 
            // this gets called from the popup window and updates the field with a new value 
            var dialog = CKEDITOR.dialog.getCurrent();
            dialog.setValueOf('info', 'txtUrl', value);
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $("#Tags")
                .bind("keydown", function (event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).data("ui-autocomplete").menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    minLength: 2,
                    source: function (request, response) {
                        $.getJSON("/Manage/LookUpTags", {
                            term: extractLast(request.term)
                        }, response);
                    },
                    search: function () {
                        // custom minLength
                        var term = extractLast(this.value);
                        if (term.length < 2) {
                            return false;
                        }
                    },
                    focus: function () {
                        // prevent value inserted on focus
                        return false;
                    },
                    select: function (event, ui) {
                        var usersIdVal = $("#hiddenTags").val();
                        usersIdVal += ", " + ui.item.userId;
                        $("#hiddenTags").val(usersIdVal)

                        var terms = split(this.value);
                        // remove the current input
                        terms.pop();
                        // add the selected item
                        terms.push(ui.item.value);
                        // add placeholder to get the comma-and-space at the end
                        terms.push("");
                        this.value = terms.join(", ");
                        return false;
                    }
                });
        });
        function split(val) {
            return val.split(/,\s*/);
        }
        function extractLast(term) {
            return split(term).pop();
        }
    </script>

    @using (Html.BeginForm("PageDetail", "Manage", FormMethod.Post, new 
                                       { enctype = "multipart/form-data" }))
    {
        <!-- Post -->
        <article class="post">
	        <header>
		        <div class="title">
			        <h2>Gestione pagina</h2>
		        </div>
	        </header>
	        <p>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @if (Model!=null && !String.IsNullOrEmpty(Model.Message))
                {
                    @Model.Message
                }
	        </p>
            <p>
                 @Html.TextBoxFor(m => m.Titolo, new { placeholder = "Titolo pagina" })
            </p>
            <p>
                 @Html.TextBoxFor(m => m.Descrizione, new { placeholder = "Descrizione pagina" })
            </p>
            <p>
                @Html.TextBoxFor(m => m.File, new { type = "file" })
            </p>
            @if(Model!=null && !String.IsNullOrEmpty(Model.FileName))
            {
                <table>
                    <tr>
                        <td><strong>Immagine</strong></td>
                        <td><strong>Azione</strong></td>
                    </tr>
                    <tr>
                        <td><img src="/Uploads/@Model.FileName" alt="@Model.FileName" /></td>
                        <td><a href="/Manage/PageRemoveImage/@Model.Id" class="button big icon fa-remove">Elimina</a></td>
                    </tr>
                </table>
            }
            <p>
                 @Html.TextBoxFor(m => m.Data, "{0:MM/dd/yyyy}", new { placeholder = "Data creazione Pagina" })
            </p>
            <p>
                @Html.DropDownListFor(m => m.SelectedAuthor, Model.Authors)
            </p>
            <p>
                @Html.DropDownListFor(m => m.SelectedBlog, Model.Blogs)
            </p>
            <p>
                @Html.DropDownListFor(m => m.SelectedCategory, Model.Categories)
            </p>
            <p>
                @Html.TextBoxFor(m => m.Tags, new { placeholder = "Tags" })
                @Html.Hidden("hiddenTags")
            </p>
            <p>
                @Html.TextAreaFor(m => m.Body, new { placeholder = "Testo della pagina" })
            </p>
            <footer>
                <ul class="actions">
                    <li><button name="Modify" value="Modifica" class="button big icon fa-pencil">Modifica</button></li>
                    <li><a href="/Manage/Pages" class="button big icon fa-arrow-circle-left">Torna a gestione pagine</a></li>
		        </ul>
            </footer>
        </article>
    }
</div>
}