@model Devevil.Blog.MVC.Client.Models.HomePageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content{
<div id="main">
     @{
        if (Model.PostDetail != null && Model.PostDetail.Count > 0)
        {
            foreach (var item in Model.PostDetail)
            {
                <!-- Post -->
                <article class="post">
	                <header>
		                <div class="title">
			                <h2><a href="/Archive/@item.TitoloURLFirendly/@item.Id">@item.Titolo</a></h2>
		                </div>
		                <div class="meta">
			                <time class="published" datetime="@item.Data.ToShortDateString()">@item.Data.ToShortDateString()</time>
			                <span class="name">@item.Autore</span>
		                </div>
	                </header>
                    @if(!String.IsNullOrEmpty(item.ImageName))
                    {
	                    <a href="/Archive/@item.TitoloURLFirendly/@item.Id" class="image featured"><img src="/Uploads/@item.ImageName" alt="" /></a>
	                }
	                <footer>
		                <ul class="actions">
			                <li><a href="/Archive/@item.TitoloURLFirendly/@item.Id" class="button big">Vai all'articolo</a></li>
		                </ul>
		                <ul class="stats">
			                <li><a href="/List/@item.NomeCategoriaURLFirendly/@item.IdCategoria/1">@item.Categoria</a></li>
			                <li><a href="/Archive/@item.TitoloURLFirendly/@item.Id" class="icon fa-heart">@item.Visualizzazioni.ToString()</a></li>
			                <li><a href="/Archive/@item.TitoloURLFirendly/@item.Id" class="icon fa-comment">@item.NumComments.ToString()</a></li>
		                </ul>
	                </footer>
                </article>
            }
        }
    }
@*    <ul class="actions pagination">
		<li><a href="" class="disabled button big previous">Pagina Precedente</a></li>
		<li><a href="#" class="button big next">Pagina Successiva</a></li>
	</ul>*@
</div>
}

@section category{
<section>
	<div class="mini-posts">
        @{
            if (Model.CategoriesPreview != null && Model.CategoriesPreview.Count > 0)
            {
                foreach (var item in Model.CategoriesPreview)
                {
		            <!-- Mini Post -->
			        <article class="mini-post">
				        <header>
					        <h3><a href="/List/@item.NomeCategoriaURLFirendly/@item.Id/1">@item.Nome</a></h3>
                            <p>@item.Descrizione</p>
				        </header>
                        @if(!String.IsNullOrEmpty(item.FileName))
                        {
				            <a href="/List/@item.NomeCategoriaURLFirendly/@item.Id/1" class="image"><img src="/Uploads/@item.FileName" alt="@item.Nome" /></a>
                        }
			        </article>
                }   
            }
        }
	</div>
</section>
}

@section postpreview{
<section>
	<ul class="posts">
        @{
            if (Model.PostPreview != null && Model.PostPreview.Count > 0)
            {
                foreach (var item in Model.PostPreview)
                {
                    <li>
			            <article>
				            <header>
					            <h3><a href="/Archive/@item.TitoloURLFirendly/@item.Id">@item.Titolo</a></h3>
					            <time class="published" datetime="@item.Data.ToShortDateString()">@item.Data.ToShortDateString()</time>
				            </header>
@*				            <a href="#" class="image"><img src="/images/pic08.jpg" alt="" /></a>*@
			            </article>
		            </li>
                }
            }
        }
	</ul>
</section>
}