@model Devevil.Blog.MVC.Client.Models.ListPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content{
<div id="main">
    
     @{
        if (Model!=null && Model.Posts != null && Model.Posts.Count>0)
        {
            foreach(var p in Model.Posts)
            {
                <!-- Post -->
                <article class="post">
	                <header>
		                <div class="title">
			                <h2><a href="/Archive/@p.TitoloURLFirendly/@p.Id">@p.Titolo</a></h2>
		                </div>
		                <div class="meta">
			                <time class="published" datetime="@p.Data.ToShortDateString()">@p.Data.ToShortDateString()</time>
			                <span class="name">@p.Autore</span>
		                </div>
	                </header>
                    @if(!String.IsNullOrEmpty(p.ImageName))
                    {
	                    <a href="/Archive/@p.TitoloURLFirendly/@p.Id" class="image featured"><img src="/Uploads/@p.ImageName" alt="@p.Titolo" /></a>
                    }
	                <footer>
    		            <ul class="actions">
			                <li><a href="/Archive/@p.TitoloURLFirendly/@p.Id" class="button big">Vai all'articolo</a></li>
		                </ul>
		                <ul class="stats">
			                <li><a href="/List/@Model.CategoryName/@Model.IdCategory/1">Categoria: @p.Categoria</a></li>
                            <li><a href="/Archive/@p.TitoloURLFirendly/@p.Id" class="icon fa-heart">@p.Visualizzazioni.ToString()</a></li>
                            <li><a href="/Archive/@p.TitoloURLFirendly/@p.Id" class="icon fa-comment">@p.NumComments.ToString()</a></li>
		                </ul>
	                </footer>
                </article>
            }
        }
    }
    <ul class="actions pagination">
        @if(Model!=null && Model.Page==1)
        {
		    <li><a href="#" class="disabled button big previous">Pagina Precedente</a></li>
        }
        else
        {
            <li><a href="/ListTop/@((Model.Page - 1).ToString())" class="button big previous">Pagina Precedente</a></li>
        }
        @if(Model!=null && Model.Page < (double)Model.TotalPages/10)
        {
		    <li><a href="/ListTop/@((Model.Page + 1).ToString())" class="button big next">Pagina Successiva</a></li>
        }
        else
        {
            <li><a href="#" class="disabled button big next">Pagina Successiva</a></li>
        }
	</ul>
</div>

}

@section category{
<section>
	<div class="mini-posts">
        @{
            if (Model.CategoriesPreview != null && Model.CategoriesPreview.Count > 0)
            {
                foreach (var item in Model.CategoriesPreview)
                {
		            <!-- Mini Post -->
			        <article class="mini-post">
				        <header>
					        <h3><a href="/List/@item.NomeCategoriaURLFirendly/@item.Id/1">@item.Nome</a></h3>
                            <p>@item.Descrizione</p>
				        </header>
                        @if(!String.IsNullOrEmpty(item.FileName))
                        {
				            <a href="/List/@item.NomeCategoriaURLFirendly/@item.Id/1" class="image"><img src="/Uploads/@item.FileName" alt="@item.Nome" /></a>
                        }
			        </article>
                }   
            }
        }
	</div>
</section>
}

@section postpreview{
<section>
	<ul class="posts">
        @{
            if (Model.PostPreview != null && Model.PostPreview.Count > 0)
            {
                foreach (var item in Model.PostPreview)
                {
                    <li>
			            <article>
				            <header>
					            <h3><a href="/Archive/@item.TitoloURLFirendly/@item.Id">@item.Titolo</a></h3>
					            <time class="published" datetime="@item.Data.ToShortDateString()">@item.Data.ToShortDateString()</time>
				            </header>
				            @*<a href="#" class="image"><img src="/images/pic08.jpg" alt="" /></a>*@
			            </article>
		            </li>
                }
            }
        }
	</ul>
</section>
}
