@model Devevil.Blog.MVC.Client.Models.MessageViewModel

<div class="6u 12u(mobile)">
    <section>
        @using (Html.BeginForm("Index", "Contact"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="row 50%">
                <div class="6u 12u(mobile)">
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Nome" })
                    @*<input name="name" placeholder="Name" type="text" />*@
                </div>
                <div class="6u 12u(mobile)">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                    @*<input name="email" placeholder="Email" type="text" />*@
                </div>
            </div>
            <div class="row 50%">
                <div class="12u">
                    @Html.TextAreaFor(m => m.Message, new { placeholder = "Messaggio" })
                    @*<textarea name="message" placeholder="Message"></textarea>*@
                </div>
            </div>
            <div class="row 50%">
                <div class="12u">
                    <button name="SendButton" value="Invia Messaggio" class="form-button-submit button icon fa-envelope">Invia Messaggio</button>
                    @*<a href="#" class="form-button-submit button icon fa-envelope">Send Message</a>*@
                </div>
            </div>
        }
    </section>
</div>

