@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model Devevil.Blog.MVC.Client.Models.SetupViewModel


@section content{
    <div id="main">
        @using (Html.BeginForm("Index", "Install"))
        {
        <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="#">Setup iniziale del Blog</a></h2>
                    </div>
                </header>
                <p>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @if (Model != null && !String.IsNullOrEmpty(Model.Message))
                    {
                        @Model.Message
                    }
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Nome, new { placeholder = "Nome Amministratore" })
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Cognome, new { placeholder = "Cognome Amministratore" })
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Nascita, new { placeholder = "gg/mm/aaaa", @class = "form-control default-date-picker" })
                </p>
                <p>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Blog, new { placeholder = "Nome del blog" })
                </p>
                <p>
                    @Html.TextBoxFor(m => m.Descrizione, new { placeholder = "Descrizione del blog" })
                </p>
                <footer>
                    <ul class="actions">
                        <li><button name="CreaBlog" value="Crea il Blog" class="button big">Crea il Blog</button></li>
                    </ul>
                </footer>
            </article>
        }
    </div>
}
